<div class="animate__animated animate__fadeIn">
    <form [formGroup]="Form" autocomplete="off">
        <div class="right-z-index-top-toolbar" [ngStyle]="{'top': '0px'}">
            <ejs-toolbar height="25px" width='100%'>
                <e-items>
                    <e-item text='Grabar' [disabled]="loading" tooltipText='Grabar - Alt+G'
                        [disabled]="!estadoBotones.btnGrabar" prefixIcon='e-icons e-save' overflow='Show'
                        showTextOn='overflow' (click)="guardarCambios()"></e-item>
                </e-items>
            </ejs-toolbar>
        </div>
        <br />
        <c-row>
            <c-col>
                <c-card>
                    <c-card-body>
                        <c-col>
                            <label cLabel>Transacción</label>
                            <ejs-combobox #MotivoAuditoriaCodigoTransaccion id='codigoTransaccion'
                                allowFiltering="true" [allowCustom]="false" [showClearButton]="true"
                                formControlName="codigoTransaccion" [dataSource]='cbTransaccion'
                                (filtering)='onFilteringTransaccion($event)'
                                (keyup.enter)="onFocusInput('codigoTransaccion')"
                                [fields]='fieldsTransaccion' [placeholder]='localWaterMark'
                                [ngClass]="{ 'is-invalid':  Form.get('codigoTransaccion').invalid &&  Form.get('codigoTransaccion').touched}"></ejs-combobox>
                            <c-form-feedback
                                [ngClass]="{ 'is-invalid':  Form.get('codigoTransaccion').invalid &&  Form.get('codigoTransaccion').touched}">
                                {{ obtenerError('codigoTransaccion') }}
                            </c-form-feedback>
                        </c-col>
                        <c-col>
                            <label cLabel>Motivo</label>
                            <ejs-combobox id="idMotivoAuditoria" formControlName="idMotivoAuditoria"
                                [dataSource]="cbMotivoAuditoria" [fields]="fieldsMotivoAuditoria"
                                [allowCustom]="allowCustomValue"
                                [allowFiltering]='true' (filtering)='onFilteringMotivoAuditoria($event)'
                                (change)="onChange($event)" #MotivoAuditoriaId
                                [ngClass]="{ 'is-invalid': Form.get('idMotivoAuditoria').invalid && Form.get('idMotivoAuditoria').touched}"></ejs-combobox>
                            <c-form-feedback
                                [ngClass]="{ 'is-invalid': Form.get('idMotivoAuditoria').invalid && Form.get('idMotivoAuditoria').touched}">{{obtenerError('idMotivoAuditoria')}}
                            </c-form-feedback>
                        </c-col>
                       
                        <br/>
                        <c-col>
                            <c-form-check [switch]="true">
                                <input cFormCheckInput sizing="sm" type="checkbox" id="activo"
                                    formControlName="activo" />
                                <label #lblEstado id="lblEstado" cFormCheckLabel>Activo</label>
                            </c-form-check>
                        </c-col>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>



    </form>

</div>
