
<div class="bg-dark text-light min-vh-100">

  <c-navbar  #navbarRef ccolorScheme="dark" class="bg-dark" expand="xl" placement="sticky-top">
    <c-container fluid>
      <a cNavbarBrand>
        <img src="assets/img/brand/wave003_color_V002.svg" alt="" width="190" height="35" />
      </a>
      
      <c-nav variant="pills">
        <a cButton class="position-relative mx-2" color="light" [routerLink]="['/notificaciones']">
          <svg cIcon name="cilBell"></svg>
          <c-badge *ngIf="notificationCounter > 0" color="danger" position="top-end" shape="rounded-pill">{{ notificationCounter }}</c-badge>
        </a>
        <a cButton class="position-relative mx-2" color="light" (click)="volver()">
          <svg cIcon name="cilViewColumn"></svg>
        </a>
      </c-nav>

      
      <form cForm class="d-flex" role="search">
        
        <input #inputBusqueda aria-label="Search" 
        cFormControl class="me-2" 
        placeholder="Buscar" 
        (input)="onBuscar($event)"
        type="search">
        <!-- <button cButton>Buscar</button> -->
        <a cButton class="mx-1" color="danger" variant="outline" (click)="logout()">
          <svg cIcon name="cilAccountLogout"></svg>
        </a>
      </form>
      
    </c-container>
  </c-navbar>
  <br/>
  <c-container>

    <c-row *ngFor="let parent of agruparPorPadre(leafNodes)" >
      <h4 class="mt-4">{{ parent.name }}</h4>
  
      <br/>
  
      <c-row>
        <c-col *ngFor="let item of parent.children; index as i"  
        class="mb-3"
        [lg]="3" [md]="6" [sm]="6" [xs]="6">
  
          <c-card 
          (click)="irARuta(item.url)"
          [color]="getColorClass(item.name)"
          [textColor]="getColorClass(item.name) === 'warning' || getColorClass(item.name) === 'light' ? '' : 'white'"
          class="text-center mb-4 h-100 rounded-0 pointer-card square-card">
            <c-card-body clickable >
              <h6 cCardTitle>
                  {{ item.name }}
              </h6>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
   
  
    </c-row>
  
  </c-container>  
    
  
</div>
