<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container breakpoint="md">
      <c-row class="justify-content-center">
        <c-col md="8" lg="6" xl="4">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm (submit)="onSubmit()" [formGroup]="form">
                 
                  <p class="text-medium-emphasis">Ingrese su correo electrónico</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cil-envelope-closed"></svg>
                    </span>
                    <input #email formControlName="email" cFormControl autoComplete="email" placeholder="Correo electrónico" type="email" />
                  </c-input-group>
                  <c-button-group role="group" class="d-flex justify-content-between">
                    <button type="submit" cButton color="primary" [disabled]="loading">
                      <c-spinner [hidden]="!loading" component="span" size="sm"></c-spinner>
                      Enviar
                    </button>
                    <button type="button" cButton color="secondary" (click)="cancel()">
                      Regresar
                    </button>
                  </c-button-group>
                </form>
              </c-card-body>
              <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>