


   
        <div class="modal-header">
            <h4 class="modal-title">Modificar Configuración de Firma</h4>
            <button type="button" (click)="cerrar()" cButtonClose>
            </button>
          </div>
          <div class="modal-body">

            <app-formulario-configuracion-firma
            *ngIf="modelo"
            [errores]="errores"
            [modelo]="modelo"
            [StateEnum]="StateEnum" 
            (onSubmit)="guardarCambios($event)"></app-formulario-configuracion-firma>
            

        </div>  