<div class="animate__animated animate__fadeIn">
    <form cForm [formGroup]="form">
    <div class="right-z-index-top-toolbar">
        <ejs-toolbar height="25px"  width='100%'>
            
                <e-items>
                    <e-item text='Nuevo' [disabled]="!estadoBotones.btnNuevo" tooltipText='Grabar - Alt+N' prefixIcon='e-icons e-plus' overflow='Show' showTextOn='overflow' (click)="nuevoRegistro()" ></e-item>
                </e-items>
       
        </ejs-toolbar>
    </div>
    <br />
    <c-row>
        <c-col lg="12" class="pb-3">
            <c-card>
                <c-card-header>
                    <c-row class="mt-2">
                        <c-col lg="6">
                            <label cLabel>Transacción</label>
                            <ejs-combobox id='idTransaccion' #transaccion 
                              allowFiltering="true"
                              (filtering)='onFilteringTransaccion($event)'
                              [allowCustom]="false"
                              (valueChange)="onChange($event)"
                              [dataSource]='cbTransaccion' formControlName="transaccion"
                              [fields]='localFieldsTransaccion'></ejs-combobox>
                          </c-col>
                    </c-row>

                </c-card-header>
                <c-card-body>
       
                    <ejs-grid #grid 
                    [dataSource]='data' 
                    [allowSorting]='true' 
                    [allowResizing]="true" 
                    [sortSettings]='sortOptions'
                    [searchSettings]='searchSettings'
                    [allowExcelExport]="true"
                    [allowFiltering]="true"
                    [filterSettings]="{ type: 'Excel' }"
                    [appDragScroll]="{ selector: '.e-content', axis: 'x' }"
                    enableStickyHeader=true 
                    [showColumnChooser]='true'
                    [editSettings]='editSettings'
                    [toolbar]="toolbar"
                    (commandClick)="commandClick($event)"
                    (toolbarClick)='clickHandler($event)'
                    >
                        <e-columns>
                            <e-column headerText="Opciones" width="80" [commands]="commands"></e-column>
                            <e-column field='idMotivoAuditoriaTransaccion' [visible]='false' headerText='Id' width='50' textAlign='Right'  [isPrimaryKey]="true"></e-column>
                            <e-column field='idMotivoAuditoria' [visible]='false' headerText='id Motivo Auditoria' width='80' ></e-column>
                            <e-column field='motivoAuditoria.descripcion' [visible]='true' headerText='Motivo Auditoria' width='80'  ></e-column>
                            <e-column field='codigoTransaccion' [visible]='false' headerText='Transacción' width='80'  ></e-column>
                            
                            <e-column field='activo' headerText='Activo' width='120'>
                                <ng-template #template let-item>
                                  @if(item.activo === true) {
                                    <span class="badge bg-success me-1">SÍ</span>
                                  }@else {
                                    <span class="badge bg-warning me-1">NO</span>
                                  }
                                </ng-template>
                              </e-column>
                            <e-column field='usuarioCreacion' [visible]='false' headerText='Creado por' width='120' ></e-column>
                            <e-column field='fechaCreacion' [visible]='false' headerText='Fecha Creación' width='120'  ></e-column>
                            <e-column field='equipoCreacion' [visible]='false' headerText='Creado desde' width='120'  ></e-column>
                            <e-column field='usuarioModificacion' [visible]='false' headerText='Modificado por' width='120'  ></e-column>
                            <e-column field='fechaModificacion' [visible]='false' headerText='Fecha Modificación' width='120'  ></e-column>
                            <e-column field='equipoModificacion' [visible]='false' headerText='Modificado desde' width='120' ></e-column>
                        </e-columns>
                    </ejs-grid>

                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    </form>
</div>

