<div class="animate__animated animate__fadeIn">
 
    <div class="right-z-index-top-toolbar">
        <ejs-toolbar height="25px"  width='100%'>
            <e-items>
                <e-item text='Nuevo' tooltipText='Nuevo - Alt+N' prefixIcon='e-icons e-plus' overflow='Show' showTextOn='overflow' (click)="nuevoRegistro()" ></e-item>
            </e-items>
        </ejs-toolbar>
    </div>
    <br/>
    <ejs-grid #grid [appDragScroll]="{ selector: '.e-content', axis: 'x' }" 
              [dataSource]='data' 
             [allowFiltering]='true'
             [filterSettings]='filterSettings'
             [allowExcelExport]="true"
 
              [allowSorting]='true' 
              [sortSettings]='sortOptions'
              [toolbar]="toolbar"
              enableStickyHeader=true 
              [showColumnChooser]= 'true'
              (toolbarClick)='clickHandler($event)'
              (commandClick)="commandClick($event)"
              [editSettings]='editSettings' 
              >
      <e-columns>
          <e-column headerText="Opciones" width="80" [commands]="commands"></e-column>
          <e-column field='idOperacionTransaccion' headerText='Id' width='50' textAlign='Right' [showInColumnChooser]='false' [isPrimaryKey]="true"></e-column>
          <e-column field='transaccion.codigo' headerText='Cod. Transacción' width='80'  ></e-column>
          <e-column field='transaccion.descripcion' headerText='Desc. Transacción' width='120'  ></e-column>
          <e-column field='operacion.descripcion' headerText='Operación' width='80'  ></e-column>
          <e-column field='controlador' headerText='Controlador' width='80'  ></e-column>
          <e-column field='accion' headerText='Acción' width='80'  ></e-column>
          <e-column field='activo' headerText='Activo' width='50'  ></e-column>
          <e-column field='usuarioCreacion' [visible]='false' headerText='Creado por' width='120'  ></e-column>
          <e-column field='fechaCreacion' [visible]='false' headerText='Fecha Creación' width='120'  ></e-column>
          <e-column field='equipoCreacion' [visible]='false' headerText='Creado desde' width='120'  ></e-column>
          <e-column field='usuarioModificacion' [visible]='false' headerText='Modificado por' width='120'  ></e-column>
          <e-column field='fechaModificacion' [visible]='false' headerText='Fecha Modificación' width='120'  ></e-column>
          <e-column field='equipoModificacion' [visible]='false' headerText='Modificado desde' width='120'  ></e-column>
      </e-columns>
  </ejs-grid>

</div>
