<div class="animate__animated animate__fadeIn">
    <form cForm
    [formGroup]="form">

    <div class="right-z-index-top-toolbar" [ngStyle]="{'top': '0px'}">
        <ejs-toolbar height="25px"  width='100%'>
            <e-items>
                <e-item text='Grabar' tooltipText='Grabar - Alt+G' prefixIcon='e-icons e-save' overflow='Show' showTextOn='overflow' (click)="guardarCambios()" [disabled]="form.invalid" ></e-item>
                <!-- <e-item text='Cancelar' tooltipText='Cancelar - Alt+C' prefixIcon='e-icons e-undo' overflow='Show' showTextOn='overflow' (click)="cancelar()"  ></e-item> -->
            </e-items>
        </ejs-toolbar>
    </div>

    <br/>
    <c-row>
        <c-col>
            <c-card>
                <c-card-body> 
                  
                       
                    <c-col>
                        <label cLabel >Configuracion</label>
                        <ejs-combobox
                        #codigoConfiguracion
                        id='codigoConfiguracion' 

                        allowFiltering="true"
                        (filtering)='onFilteringConfiguracion($event)'
                        [allowCustom]="allowCustom"
                        [showClearButton]="true" 
                        formControlName="codigoConfiguracion" 
                        [dataSource]='configuraciones' 
                        [fields]='fieldsConfiguracion' 
                        [placeholder]='localWaterMark'
                        [ngClass]="{ 'is-invalid':  form.get('codigoConfiguracion').invalid &&  form.get('codigoConfiguracion').touched}"
                        ></ejs-combobox> 
                        <c-form-feedback
                        [ngClass]="{ 'is-invalid':  form.get('codigoConfiguracion').invalid &&  form.get('codigoConfiguracion').touched}">
                        {{ obtenerError('codigoConfiguracion') }}
                    </c-form-feedback>
                    </c-col>

                    <c-col>
                        <label cLabel >Sucursal</label>
                        <ejs-combobox id='idSucursal' 
                        allowFiltering="true"
                        (filtering)='onFilteringSucursal($event)'
                        [allowCustom]="allowCustom"
                        [showClearButton]="allowCustom" 
                        formControlName="idSucursal" 
                        [dataSource]='sucursales' 
                        [fields]='fieldsSucursal' 
                        [placeholder]='localWaterMark'
                        [ngClass]="{ 'is-invalid':  form.get('idSucursal').invalid &&  form.get('idSucursal').touched}"
                        ></ejs-combobox> 
                        <c-form-feedback
                        [ngClass]="{ 'is-invalid':  form.get('idSucursal').invalid &&  form.get('idSucursal').touched}">
                        {{ obtenerError('idSucursal') }}
                    </c-form-feedback>
                    </c-col>

                    <c-col>
                        <label cLabel >Transacción</label>
                        <ejs-combobox
                        #codigoTransaccion
                        id='codigoTransaccion' 
                        allowFiltering="true"
                        (filtering)='onFilteringTransaccion($event)'
                        [allowCustom]="allowCustom"
                        [showClearButton]="true" 
                        formControlName="codigoTransaccion" 
                        [dataSource]='transacciones' 
                        [fields]='fieldsTransaccion' 
                        [placeholder]='localWaterMark'
                        [ngClass]="{ 'is-invalid':  form.get('codigoTransaccion').invalid &&  form.get('codigoTransaccion').touched}"
                        ></ejs-combobox> 
                        <c-form-feedback
                        [ngClass]="{ 'is-invalid':  form.get('codigoTransaccion').invalid &&  form.get('codigoTransaccion').touched}">
                        {{ obtenerError('codigoTransaccion') }}
                    </c-form-feedback>
                    </c-col>
                    
                    <c-col>
                        <label cLabel >Usuario</label>
                        <ejs-combobox
                        #userName
                        id='userName' 
                        allowFiltering="true"
                        (filtering)='onFilteringUserName($event)'
                        [allowCustom]="allowCustom"
                        [showClearButton]="true" 
                        formControlName="userName" 
                        [dataSource]='usuarios' 
                        [fields]='fieldsUsuarios' 
                        [placeholder]='localWaterMark'
                        [ngClass]="{ 'is-invalid':  form.get('userName').invalid &&  form.get('userName').touched}"
                        ></ejs-combobox> 
                        <c-form-feedback
                        [ngClass]="{ 'is-invalid':  form.get('userName').invalid &&  form.get('userName').touched}">
                        {{ obtenerError('userName') }}
                    </c-form-feedback>
                    </c-col>

                    
                    
                  

                    <c-col >
                        <label cLabel >Referencia 1</label>
                        <input cFormControl sizing="sm" [valid]="form.get('referencia1').valid"   autocomplete="off" formControlName="referencia1" type="text" #referencia1 />  
                        <c-form-feedback [valid]="form.get('referencia1').valid">{{obtenerError('referencia1')}}</c-form-feedback>
                    </c-col>

                    <c-col >
                        <label cLabel >Referencia 2</label>
                        <input cFormControl sizing="sm" [valid]="form.get('referencia2').valid"   autocomplete="off" formControlName="referencia2" type="text" #referencia2 />  
                        <c-form-feedback [valid]="form.get('referencia2').valid">{{obtenerError('referencia2')}}</c-form-feedback>
                    </c-col>
                     <c-col >
                        <label cLabel >Referencia 3</label>
                        <input cFormControl sizing="sm" [valid]="form.get('referencia3').valid"   autocomplete="off" formControlName="referencia3" type="text" #referencia3 />  
                        <c-form-feedback [valid]="form.get('referencia3').valid">{{obtenerError('referencia3')}}</c-form-feedback>
                    </c-col>

                    <c-col >
                        <label cLabel >Valor</label>
                        <input cFormControl sizing="sm" [valid]="form.get('valor').valid"   autocomplete="off" formControlName="valor" type="text" #valor />  
                        <c-form-feedback [valid]="form.get('valor').valid">{{obtenerError('valor')}}</c-form-feedback>
                    </c-col>

                    <c-col >
                        <label cLabel >Descripcion</label>
                        <input cFormControl sizing="sm" 
                        [valid]="form.get('descripcion').valid"   
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off" 
                        formControlName="descripcion" 
                        type="text" #descripcion />  
                        <c-form-feedback [valid]="form.get('descripcion').valid">{{obtenerError('descripcion')}}</c-form-feedback>
                    </c-col>
               
                    <c-col>
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" id="activo" formControlName="activo"  />
                            <label #lblEstado id="lblEstado" cFormCheckLabel></label>
                        </c-form-check>      
                    </c-col>
        
                    
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
  
    
</form>
</div>